body {
  font-family: sans-serif;
}

.product-article {
  border: 3px solid black;
}

.page-title {
  text-align: center;
  background-color: rgba(237, 231, 225, 1);
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.add-to-cart {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.add-to-cart:hover {
  color: black;
  background-color: transparent;
}

.product-details,
.add-to-cart,
.page-title,
.shipping-option {
  text-transform: uppercase;
}

.shipping-option {
  font-size: 12px;
  color: #7777;
}

.price {
  font-size: 20px;
}

.product-features {
  list-style-type: square;
}
