* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.product-article {
  border: 3px solid black;
  width: 900px;
  margin: 50px auto;
  position: relative;
}

.page-title {
  text-align: center;
  background-color: rgba(237, 231, 225, 1);
  padding-top: 10px;
  height: 40px;
}

.more-info {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.add-to-cart {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
}

.add-to-cart:hover {
  color: black;
  background-color: transparent;
  border-top: solid 4px black;
}

.product-details,
.add-to-cart,
.page-title,
.shipping-option {
  text-transform: uppercase;
}

.product-features {
  margin-bottom: 15px;
}
.shipping-option {
  font-size: 12px;
  color: #7777;
  margin-bottom: 20px;
}

.price {
  font-size: 20px;
}

.product-features {
  list-style-type: square;
}

.product-description {
  margin-bottom: 10px;
}

ul {
  margin: 20px;
}

li:last-child {
  margin-bottom: 2px;
}

.product-details {
  margin-top: 40px;
}

.product-article::before {
  content: "SALE";
  background-color: red;
  top: -10px;
  left: -35px;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  position: absolute;
  display: inline-block;
  letter-spacing: 3px;
}

/* .product-article a::after {
  display: inline-block;
  margin: 5px 5px;
  background-color: red;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 5px;
} */

.shoe-color {
  background-color: black;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  display: inline-block;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: goldenrod;
}

.color-green {
  background-color: greenyellow;
}

.color-brown {
  background-color: brown;
}

img {
  float: left;
  width: 250px;
  height: 250px;
}

.pricing {
  float: left;
  width: 250px;
  margin-left: 30px;
  margin-top: 40px;
  margin-right: 50px;
}

.price {
  float: left;
}

.shipping-option {
  float: right;
}

.product-description {
  clear: both;
}
/* .product-details-container {
  float: right;
  width: 300px;
} */
